<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ski Patrol Notifications</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="public/js/app.js" charset="utf-8"></script>
    <script src="public/js/app1.js" charset="utf-8"></script>
    <!-- <script src="./../server1.js" charset="utf-8"></script> -->

    <base href="/" target="_blank">

    <!-- ! Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>


</head>

<body style="max-width: 600px; margin: 0 auto;" ng-app="myApp" ng-controller="myCtrl">

    <!--//////  Partials nav ////-->
    <div style="max-width: 600px; margin: 0 auto;" class="is-visible" ng-include="'partials/nav.html'"></div>
    <!--////// end of partials ////-->

    <!-- ///////////////// -->
    <div class="divMaxWidth">
        <div class="mainPicture">
            <div class="mainTopnumber">

                <!-- top nav bar -->
                <div style="z-index: 10;" class="topnav">

                    <div style="background-color: darkgrey; z-index: 10;" class="topnav1">
                        <a class="aTagTopNavDivLogo" style="font-size: 22px; " href="index.html">
                            <div style="z-index: 10; color: black; margin-left:20px;margin-top: 0px;padding-top: 25px;"
                                class="mainLogo1">

                                <h3> SKI PATROLLERS MOUNTAIN APP </h3>
                                <h4> For Daily Ski Patrol Management</h4>

                            </div>
                        </a>
                        <br>
                    </div>
                </div>
                <!-- end top nav -->

                <!-- start of middle picture background -->
                <div
                    style="background-image: url(https://images.pexels.com/photos/3600569/pexels-photo-3600569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); height: 600px;">

                    <br><br>
                    <!-- start login -->
                    <div  style="text-align: center; background-color: white; padding: 10px 10px; margin: 0px 25% ; border-radius: 10px; font-size: 16px;">
                    <div id="openLoginModal">
                        <h4 class="modalh4" style="margin: 0 0; padding: 5px 30px;">Notifications <br> <br><% list>
                        </h4>
                        <br>
                        Marked hazards <br>
                        Checked Equipment Supply Level <br>
                        Opened Slope Name <br>
                        Low supply of arm splints<br>
                        Low supply of leg splints <br>
                        Add signage <br>
                        Snow drill low batteries
                        <br><br><br><br>
                       
                        <a href="file:///Users/ptk726/Desktop/dev/SkiPatrolMountainApp/public/index.html">
                    <button>
                        Back to home page
                    </button>
                    </a>
                    </div>
                        
                    <!-- end login -->
                    <br>
                    <br>
                  

                </div>
                <!-- end of middle picture background -->

            </div>
            <!-- end of mainTopnumber -->
        </div>
        <!-- end of main picture -->
    </div>
    <!-- end of divMaxWidth -->

    <!-- <div class="footerdivparent"> -->
    <div>
        <div class="footerDiv" style="background-color: lightgrey; text-align: center;">

            <a href="/Users/ptk726/Desktop/dev/SkiPatrolMountainApp/public/notifications.html">
            <h3 style=" margin: 0px 0px; text-align:center;"> <br><br>
                <button style="text-align:center ; width: 60%; margin: 0px 15%; padding: 10px 10px;"
                    class="payHereButton">Daily Ski Patrol Notifications </button>
            </a>
            </h3>
            <h5>Urgent and Regular Notifications</h5>

            <!-- <h3 style="margin: 0px 0px; text-align:center;"> <br><br>
                <button style="text-align:center ; width: 60%; margin: auto 15%; padding: 10px 10px;"
                    class="payHereButton" onclick="openResupplyEquipmentNav()">Resupply Equipment </button>
            </h3>
            <h5>Equipment and Medical Supplies</h5>

            <h3 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px;"> <br><br>
                <button style="text-align:center ; width: 60%; margin: auto 15%; padding: 10px 10px;"
                    class="payHereButton" onclick="openSafetySignageNav()">Check Safety Signage </button>
            </h3>
            <h5>Urgent and Non Urgent Safety Signage</h5> -->
            <br><br><br>
        </div>
    </div>

    <!-- Side Nav -Ski Patrol Notification Notifications -->
    <div id="mySidenavNotification" style="
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #B4CDE0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeNotificationNav()"></div>
            <h3>Add Ski Patrol Notification Notifications:</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Add Ski Patrol Notification Location:</label><br> -->
                <input type="text" id="fname" name="fname" value="Ski Patrol Notification Location"><br>
                <!-- <label for="lname">Reported Time:</label><br> -->
                <input type="text" id="lname" name="lname" value="Time Reported"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>
            <h4> Ski Patrol Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Ski Patrol Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Ski Patrol Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Ski Patrol Notification
                <br> Location:
                <br> Status:
            </h4>
        </div>
    </div>




    <!-- Start of Side Nav - Resupply Equipment -->
    <div id="mySidenavResupplyEquipment" style="
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: #B4CDE0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px 20px 20px">


            <div class="closeXButton" onclick="closeResupplyEquipmentNav()"></div>


            <h3>Resupply Equipment Status:</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Equipment Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Equipment Name"><br>
                <!-- <label for="lname">Location:</label><br> -->
                <input type="text" id="lname" name="lname" value="Location"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Resupply Medical and Rescue Equipment List:</h3>

            <!-- Show Equipment : get route -->
            <div>

                <div style="padding:0 8px; align-items: left;" ng-repeat="equipment in ctrl.Equipment">

                    <br>

                    <div style="padding:0 8px; align-items: left;">

                        <h3 style="height: 20px; " id="render1"></h3>
                        <h3 style="height: 20px; " id="render2"></h3>
                        <h3 style="height: 20px; " id="render3"></h3>
                        <h3 style="height: 20px; " id="render4"></h3>
                        <h3 style="height: 20px; " id="render5"></h3>
                        <h3 style="height: 20px; " id="render7"></h3>
                        <br>
                        <br>
                        <br>
                        <button onclick="showList();">Show List</button>

                        <br><br>
                        <div>


                            <div ng-show="myVar">
                                <!-- //ng-repeat  -->
                                <!-- list 1 -->

                            </div>


                        </div>
                    </div>

                    <button ng-click="ctrl.deleteEquipment( equipment._id )">Remove</button>

                    <!-- Show HTML: -->

                    <input type="button" value="Edit Info" ng-model="myVar" ng-click="ctrl.editEquipment( equipment )">


                    <div ng-show="myVar">


                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end of resupply equipment -->

    <!-- Side Nav - Scheduling Ski Patroller Location -->
    <div id="mySidenavScheduling" style="
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 4;
            top: 0;
            right: 0;
            background-color: #B4CDE0;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeSchedulingNav()"></div>

            <h3>Add Ski Patroller to Daily Schedule</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Patroller Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Patroller Name"><br>
                <!-- <label for="fname">Location:</label><br> -->
                <input type="text" id="fname" name="fname" value="Location"><br>
                <!-- <label for="lname">Time:</label><br> -->
                <input type="text" id="lname" name="lname" value="Time"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Daily Ski Patroller Schedule:</h3>
            <p>Name:
                <br>Location:
                <br>Time:
            </p>

            <p>Name:
                <br>Location:
                <br>Time:
            </p>

            <p> Name:
                <br>Location:
                <br>Time:
            </p>

            <p>Name:
                <br>Location:
                <br>Time:
            </p>

        </div>
    </div>

    <!-- Side Nav - Safety Signage - Check List -->
    <div id="mySidenavSafetySignage" style="
                height: 100%;
                width: 0px;
                position: fixed;
                z-index: 4;
                top: 0;
                right: 0;
                background-color: #B4CDE0;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeSafetySignageNav()"></div>
            <h3>Add New Safety Signage to<br>Check List </h3>
            <form action="/action_page.html">
                <!-- <label for="fname">Equipment Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Safety Signage Name"><br>
                <!-- <label for="lname">Location:</label><br> -->
                <input type="text" id="lname" name="lname" value="Location"><br><br>
                <input type="submit" value="Submit">
            </form>
            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Safety Signage Check List</h3>
            <p>Name:
                <br>Location:
                <br>Status:
            </p>

            <p>Name:
                <br>Location:
                <br>Status:
            </p>

            <p> Name:
                <br>Location:
                <br>Status:
            </p>

            <p>Name:
                <br>Location: {{test.location.equipment}}
                <br>Status: {{test.status.equipment}}
            </p>

        </div>
    </div>


    <!-- anchor tag from nav bar -->
    <a name='Ski Patrol Ski Patrol Notifications'></a>

    <!-- Notification Section -->
    <div class="w3-grey" id="newSki Patrol Notifications">
        <div style="max-width:600px">


            <ul class="w3-ul w3-border w3-white w3-text-grey">
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-tag w3-red w3-margin-left">Ski Patrol Notification</span>
                </li>
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-tag w3-red w3-margin-left">Ski Patrol Notification</span>
                </li>
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-badge w3-right w3-margin-right">Resolved Ski Patrol Notification</span>
                </li>
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-tag w3-red w3-margin-left">Ski Patrol Notification</span>
                </li>
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-tag w3-red w3-margin-left">Ski Patrol Notification</span>
                </li>
                <li class="w3-padding">Ski Patrol Ski Patrol Notification
                    <span class="w3-badge w3-right w3-margin-right">Resolved Ski Patrol Notification</span>
                </li>
            </ul>
        </div>
    </div>



    <!-- Resupply Section -->
    <div style="background-color:#F1F1F1; width: 20%">
        <div id="itineraries">

        </div>
    </div>


    <!-- side nav login -->
    <nav class="newNavBar">

        <div class="NewNavBarLoginRegister">

            <div class="sidenav" id="mySidenav">
                <a class="closebtn" ng-click="ctrl.closeNav()">&times;</a>
                <!--//////  Partials login-form ////-->
                <div ng-include="'partials/login_form.html'"></div>
                <!--//////  end of login partial ////-->
            </div>

        </div>
    </nav>

    <!-- side nav Register -->
    <nav class="newNavBar">

        <div class="NewNavBarLoginRegister">

            <div class="sidenav" id="mySideNavRegister">
                <a class="closebtn" ng-click="ctrl.closeNavRegister()">&times;</a>
                <!-- ////// Partials Register Form ////-->
                <div ng-include="'partials/register.html'"></div>
                <!--//////  end partials//// -->
            </div>

        </div>
    </nav>
    <!-- end of side nav -->

    <footer>
        <!-- <div class="footerdivparent"> -->
        <div class="footerDiv" style="background-color: lightblue; text-align: center;">

            <p>SkiPatrollersMountainApp@gmail.com</p>
            <p>SkiPatrollersMountainApp LLC</p>
            <div class="mainLogo1">
                <h6 style="color: black;">SkiPatrollers Mountain App</h6>
                <p> <br> Created, Designed, Built by <br>Peter King July 2024</p>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


</body>

</html>

<!-- 
//References: 
// * BEST *
// Tutorial MondoDB Node.js Auth0
// https://www.youtube.com/watch?v=ardeKHEN1j4


// Tutorial for Database set up CRUD + node.js + MongoDB
// https://www.youtube.com/watch?v=9OfL9H6AmhQ

// https://www.youtube.com/watch?v=EcJERV3IiLM -->